aside {
    background-image: linear-gradient(180deg, #18D2AF, #0FCFE9);
    min-height: 100vh;
}
aside li {
    list-style: none;
    padding: 10px;
    color: white;
}
.aside_icon{
    margin-right: 10px;
}
.logout{
    color: white;
    background: none;
    border: none;
    position: absolute;
    bottom: 0;
}