aside {
    background-image: linear-gradient(180deg, #626f7c, #1d2124);
    
}
aside li {
    list-style: none;
    padding: 10px;
    color: white;
}
aside li:hover {
    background: #5c656e;
}
.aside_icon{
    margin-right: 10px;
}
.logout{
    color: white;
    background: none;
    border: none;
    position: absolute;
    bottom: 0;
}

@media only screen and (min-width: 768px) {
    aside {
        min-height: 100vh;
    }
  }