.book_list {
    background-image: linear-gradient(180deg, #626f7c, #1d2124);
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}
.booking_photo img{
    width: 50px;
    border-radius: 50%;
}
.status_btn {
    position: absolute;
    right: 10px;
}