.review_section {
    margin-bottom: 40px;
}
.review_img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.review_content {
    background-color: lightblue;
}
.sliderImg img{
    width: 100px;
}